@import "tailwindcss";

@font-face {
  font-family: 'dream-avenue'; /* El nombre que usarás en tu CSS */
  src: url('/fonts/Dream-Avenue.woff2') format('woff2'); /* Ruta relativa a la carpeta `public` */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Evita el FOIT/FOUT */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: Montserrat, sans-serif; /* Agrega un fallback */
  --font-mont: Mont, monospace; /* Agrega un fallback */

  /* Colores personalizados */
  --verde-opalo-100: #486955;
  --verde-opalo-80: #67826F; /* Ajustado para ser 80% del original */
  --verde-opalo-60: #869B89; /* Ajustado para ser 60% del original */
  --verde-opalo-40: #A5B4A3; /* Ajustado para ser 40% del original */
  --verde-opalo-20: #C4CDC1; /* Ajustado para ser 20% del original */

  --tigerlily: #E2583E;
  
  --gris-oscuro: #424144;

  --pewter-blue-100: #8BA8B7; /* Valor corregido */
  --pewter-blue-80: #A2B9C4; /* Ajustado para ser 80% del original */
  --pewter-blue-60: #BACAD2; /* Ajustado para ser 60% del original */
  --pewter-blue-40: #D1DBDF; /* Ajustado para ser 40% del original */
  --pewter-blue-20: #E8ECEC; /* Ajustado para ser 20% del original */

  --buttercup: #F9E244; /* Color estimado para BUTTERCUP 12-0752. Ajusta si es necesario. */
  --gold-fusion: #FFB100; /* Color estimado para GOLD FUSION 115-1062. Ajusta si es necesario. */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colores personalizados */
  --color-verde-opalo-100: var(--verde-opalo-100);
  --color-verde-opalo-80: var(--verde-opalo-80);
  --color-verde-opalo-60: var(--verde-opalo-60);
  --color-verde-opalo-40: var(--verde-opalo-40);
  --color-verde-opalo-20: var(--verde-opalo-20);

  --color-tigerlily: var(--tigerlily);

  --gris-oscuro: var(--gris-oscuro);

  --color-pewter-blue-100: var(--pewter-blue-100);
  --color-pewter-blue-80: var(--pewter-blue-80);
  --color-pewter-blue-60: var(--pewter-blue-60);
  --color-pewter-blue-40: var(--pewter-blue-40);
  --color-pewter-blue-20: var(--pewter-blue-20);

  --color-buttercup: var(--buttercup);
  --color-gold-fusion: var(--gold-fusion);
  
  --font-dream-avenue: dream-avenue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

html {
  scroll-behavior: smooth;
}

.grecaptcha-badge {
  position: absolute !important;
  bottom: 0px;
  left:0px;
  opacity:30% ;
  /* visibility: hidden; */
  /* opacity: 0; /* Opcional: añade una transición suave si quieres mostrarlo después, pero para ocultarlo simplemente, visibility: hidden; es suficiente */
  /* O la forma más simple y común es: */
  /* display: none !important; */
}